{% extends "accounts/index.html" %}
{% block title %}
	{% if detail == 'invalid_token' %}
		Broken Link
	{% else %}
		Reset Password Form
	{% endif %}
{% endblock %}
{% block content %}
    <style>
        li{
            color: gold;
            font-size: 12px;
            font-weight: bold;
            margin-top: 10px;
        }
    </style>
	{% if detail == 'valid_token' %}
	<h1 style="font-weight: bold;">RESET PASSWORD FORM</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
            <p style="font-weight: bold; margin-bottom: 10px;">Please enter your new password twice so we can verify you typed it in correctly.</p>
			<form method="post" class="login-form">
				{{ form.csrf_token }}
				{{ form.newpassword(placeholder="New password") }}
				{% for e in form.newpassword.errors %}<p>{{e}}</p>{% else %}<p></p>{% endfor %}
				{{ form.confirm(placeholder="Confirm password") }}
				{% for e in form.confirm.errors %}<p>{{e}}</p>{% endfor %}

				<div class="wthree-text" >
				<input type="submit" value="UPDATE PASSWORD">
			</form>
			<p><a href="{{ url_for('login') }}"> Back to Login!</a></p>
		
		</div>
	</div>
	{% else %}
	<h1 style="font-weight: bold;">WWC V4 BROKEN LINK</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<div>
				<p>Sorry! This link has already been used or expired!</p>
				<input class="resend-email" onclick="window.location=`{{ url_for('resend_password_token', email=email) }}`" type="submit" value="RESEND PASSWORD RESET EMAIL">
            </div>
		</div>
	</div>
	{% endif %}
{% endblock %}